<h1> URL Shortener </h1>

<%= form_for @url, url: url_create_path do |f|%>
  <p>
    <%= f.label :Url, "User URL:" %>
    <%= f.text_field :url %>
  </p>
  <p>
      <%= f.submit %>
    </p>

  <% end %>

  <% @urls.each do |a| %>
    <p>
      The URL path for <%= a.url %> is
      <%= link_to(url_path(a), a.url)%>
    </p>
    <p>
      The code for <%= a.url %> is
      <%= link_to(a.ran_string, a.url)%>
    </p>
  <% end %>
