<h1> URL Shortener </h1>

<%= form_for @url, url: url_create_path do |f|%>
  <p>
    <%= f.label :Url, "User URL:" %>
    <%= f.text_field :url %>
  </p>
  <p>
      <%= f.submit %>
    </p>

  <% end %>

  <% Url.all.each do |a| %>
    <p>The code for <%= a.url %> is <a href=<%= a.url %>><%= a.code%></a></p>
  <% end %>
